.notification-list {
    max-width: max-content;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.notification-list li {
    font-family: sans-serif;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background: #f5a02c;
    padding: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 1px 1px #f5a02c;
}