
  .main-layout {
    display: flex;
    flex-direction: column; /* Dàn theo chiều dọc */
    align-items: center; /* Canh giữa các thành phần theo chiều ngang */
  }
  
  .chart-group {
    display: flex;
    justify-content: space-between; /* Cách đều giữa các thành phần trong group */
  }
.statistic-group{
  display: flex;
  justify-content: space-between; 
  margin-top: 80px;
  margin-left: 30px;
}