.services-banner{
    display: flex;
    margin: 30px auto;
    width: 82%;
}

.services-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.services-indexSort p span{
    font-weight: 600;
}

.services-sort{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.services-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 60px;
}