
.table-header{
    background: #DEB887;
}
table.MuiTable-root.css-quj9j6-MuiTable-root {
    padding: 30px 50px;
    box-shadow: 0 0 10px 5px #e5e5e5;
}
/* .alert-successful-error {
    padding: 10px 50px;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.alert-successful-error svg {
    font-size: 30px;
    margin-top: 5px;
} */
