.notification-root {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 20px;
    /* background-color: #D2691E; Màu nâu cam */
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; Đảm bảo hình nền phủ từ đầu đến cuối trang */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .notification-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: grey; /* Màu chữ */
    font-weight: 600;
  }
  
  .notification-list {
    width: 100%
  }
  
  .notification-item {
    border-radius: 10px; /* Bo tròn khung thông báo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    background-color:#FFE4C4; /* Màu nền cho thông báo */
    margin-bottom: 10px; /* Khoảng cách giữa các thông báo */
  }
  .notification-image {
    width: 100px;
    height: auto; 
  }