.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #E7C494;
    margin-top: 80px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap:10px;
    padding: 5px 0px;
}

.footer-logo p {
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 1px 0 #E7C494;
}
.footer-logo img{
    width: 90px;
    border: 1px solid white;
    border-radius: 80px;
    background: white;
}
.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(240, 241, 228);
    font-size: 20px;
    text-shadow: 1px 0 #E7C494;
}
.footer-links li {
    cursor: pointer;
    color: white;
}
.footer-social-icon {
    display: flex;
    gap: 30px;
    margin-right:-35px ;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 80px;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    color:rgb(240, 241, 228);
    font-size: 20px;
    text-shadow: 1px 0 #E7C494;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #f5a02c;
}