.otpcode {
    display: flex;
    height: 100%;
    width: 100%;
}
.otpcode-box {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 200px auto;
    padding: 50px;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 10px 0 grey;
}
.otpcode h2 {
    color: #5e5e5e;
}
.otpcode hr {
    margin-top: 10px;
}
.otpcode p {
    margin-top: 20px;
    font-size: 22px;
}
.otpcode input {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
}
.otpcode-box div {
    display: flex;
    flex-direction: row-reverse;
}
.otpcode button {
    display: flex;
    width: 100px;
    height: 50px;
    font-size: 24px;
    color: white;
    justify-content: center;
    align-items: center;
    background: #f5a02c;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
    cursor: pointer;
}
.otpcode button:hover {
    background-color: #eb8900;
}