.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .chart-wrapper {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* Màu nền */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    width: 440px;
    height: 246px;
  }